              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="linux/index.html">
                      Linux开发 
                    </a>
                  </li>
                  <li>
                    <a href="/rtos/index.html">
                      实时操作系统
                    </a>
                  </li>
                  <li>
                    <a href="/iot/index.html">
                      iot
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
              <div class="col-lg-6">
                <ul class="list-unstyled">
                  <li>
                    <a href="/c/index.html">
                      c
                    </a>
                  </li>                  
				          <li>
                    <a href="/other/index.html">
                      杂技
                    </a>
                  </li>
                  <li>
                    <a href="/read/index.html">
                      书摘
                    </a>
                  </li>
                  <li>
                    <a href="/about.html">
                      关于
                    </a>
                  </li>
                </ul>
              </div>
              <!-- /.col-lg-6 -->
